[submodule "app/src/main/cpp/thirdparty/ncnn"]
	path = app/src/main/cpp/thirdparty/ncnn
	url = https://github.com/Tencent/ncnn.git
[submodule "app/src/main/cpp/thirdparty/sherpa-ncnn"]
	path = app/src/main/cpp/thirdparty/sherpa-ncnn
	url = https://github.com/k2-fsa/sherpa-ncnn.git
